<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:tijarah.com</string>
		<string>applinks:www.tijarah.com</string>
		<string>applinks:develop.tijarah.com</string>
		<string>applinks:www.develop.tijarah.com</string>
		<string>applinks:uat.tijarah.com</string>
		<string>applinks:www.uat.tijarah.com</string>
	</array>
</dict>
</plist>
